.container {
    background-color: rgb(247, 27, 111);
    padding: 15px;
    width: 30%;
    height: 400px;
}

.sidebar {
    background-color: rgb(24, 23, 23);
    float: left;
    width: 30%;
    height: 400px;
}

.content {
    background-color: rgb(30, 111, 216);
    width: 70%;
    float: right;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}